.activity-container {
    padding: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background-color: rgba(247, 249, 251, 1);
  }
  
  .activity-title {
    font-size: 17px;
    margin: 0;
    margin-bottom: 0.4em;
    text-align: start;
    color: #333;
  }
  
  .activity-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .activity-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .activity-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin-right: 15px;
    object-fit: cover;
  }
  
  .activity-content {
    display: flex;
    flex-direction: column;
  }
  
  .activity-description {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.95em;
    color: #333;
  }
  
  .activity-timestamp {
    font-size: 0.8em;
    text-align: start;
    color: #888;
  }
  
  .activity-container.dark {
    background-color: #444;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .activity-container.light {
    background-color: rgba(247, 249, 251, 1);
    color: #444;
  }