.left-bar {
    width: 250px;
    background-color: #fff;
    border-right: 1px solid lightgray;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .user-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .fav-bar {
    display: flex;
    gap: 1.5em;
    justify-content: start;
    margin-bottom: 10px;
  }
  
  .inactive {
    color: #b0b0b0;
  }
  .fav-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    list-style-type: disc; 
  }
  
  .fav-list li {
    margin: 0;
    text-align: start;
    padding: 0;
    cursor: pointer;
  }
  
  
  .fav-list li::marker {
    color: #ccc;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .dashboard-section {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-weight: bold;
    text-align: left;
    color: #ccc;
    margin-bottom: 10px;
  }
  
  .dashboard-values {
    list-style: none;
    padding-left: 1em;
  }
  
  .dashboard-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .dashboard-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .pages-section {
    margin-bottom: 20px;
  }
  
  .pages-list {
    padding-left: 1em;
  }
  
  .pages-list details {
    margin-bottom: 10px;
  }
  
  .pages-list summary {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .pages-list summary img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .pages-list li {
    margin-bottom: 10px;
    cursor: pointer;
    list-style-type:none;
  }
  