*{
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  height: fit-content;
}
.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: #222;
  color: white;
}
.left-bar.dark,
.right-bar.dark,
.center.dark {
  background-color: #333;
  color: white;
}

.left-bar.light,
.right-bar.light,
.center.light {
  background-color: white;
  color: black;
}
