
body {
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
  }
  
  .side-container, .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .theme-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  body.dark-mode {
    background-color: #1e1e1e;
    color: #f0f0f0;
  }
  
  body.dark-mode .search-container input {
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
  }
  